
img.product-img {

    height: 200px;
    object-fit: cover;
}

.card.card-product .btn{
    top: auto;
    bottom: 0px;
    position: relative;
}

.card-footer{
    background-color: #fff;
}

#sliderId img{
    height:350px
}




